<head>
  <title>SensA</title>
</head>

<body>
  {{> nav_bar}}
  <div class="container-fluid">
    {{#if currentUser}}
    <div class="row-fluid">
      {{> analysis}}
    </div>
    {{else}}
      {{> landing}}
    {{/if}}
  </div>
</body>

<template name="nav_bar">
    <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <a class="brand">SensA</a>
      <ul class="nav">
        {{#if currentUser}}
        <li class="active">
          <div class="fileUpload btn btn-default"><span>New Model</span><input type="file" class="upload" multiple/></div>
        </li>
        <li class="divider-vertical"></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Models
              <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            {{> models}}
          </ul>
        </li>
        {{/if}}
        <li>
          <a href="#myModal" data-toggle="modal">Contact</a>
          {{> myModalContainer}}
        </li>
        <li>
          <a href="explanations.html" target="_blank">Help</a>
        </li>
        <li>
          <a href="#examplesModal" data-toggle="modal">Examples</a>
          {{> examplesModalContainer}}
        </li>
      </ul>
      <ul class="nav pull-right">
        <li>
          <a href="#">{{> loginButtons align='right'}}</a>
        </li>
      </ul>
    </div>
  </div>
</template>

<template name="models">
  {{#if model}}
      {{#each model}}
      {{> model_name}}
      {{/each}}
  {{/if}}
</template>

<template name="myModalContainer">
  <!-- Modal -->
  <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    {{> modalInner}}
  </div>
</template>

<template name="examplesModalContainer">
  <!-- Modal -->
  <div id="examplesModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="examplesModalLabel" aria-hidden="true">
    {{> examplesModalInner}}
  </div>
</template>

<template name="examplesModalInner">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Example files</h3>
    </div>
    <div class="modal-body">
      <p>
        Here we provide a few example models with different properties
        to make it easy to explore the features of <i>SensA</i>. Just
        download the SBML files (via context menu) and afterwards
        import them into the webinterface.
      </p>
      <h3><a href="branched2.xml">Toy model</a></h3>
      <p>
        A little toy model to quickly test the software.
      </p>      
      <h3><a href="BIOMD0000000270.xml">Schilling 2009</a></h3>
      <p>
        A signalling model of the Mek-Erk pathway. The model is rather
        complex and the calculation time dependent response
        coefficients could take a while.
      </p>
      <p>
        <small>
          Schilling, Marcel, et al. "Theoretical and experimental analysis links isoform‐specific ERK signalling to cell fate decisions." <i>Molecular systems biology</i> 5.1 (2009).
        </small>

      </p>

    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</template>

<template name="modalInner">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Report a bug or send us feedback</h3>
    </div>
    <div class="modal-body">
      <div class="row-fluid">
        <div class="span4" id="modal-divs"><img src="max.jpeg" alt="Dr. Max Flöttmann" width="100px"></div>
        <div class="span4" id="modal-divs"><img src="jannis.jpg" alt="Dr. Jannis Uhlendorf" width="100px"></div>
        <div class="span4" id="modal-divs"><img src="thomas.jpg" alt="Dr. Thomas Spiesser" width="100px"></div>
      </div>
      <div class="row-fluid">
        <div class="span4" id="modal-divs">Dr. Max Flöttmann</div>
        <div class="span4" id="modal-divs">Dr. Jannis Uhlendorf</div>
        <div class="span4" id="modal-divs">Dr. Thomas Spiesser</div>
      </div>
      <div class="row-fluid">
        <div class="span12">
          <form id="contactForm">
            <fieldset>
              <label class="input-label" for="subject">From:</label>
              <input id="emailSender" type="email" value="{{user}}" placeholder="user@example.com"/>
              <div class="control-group">
                <label class="control-label" for="subject">Please select a subject</label>
                <div class="controls">
                  <select id="leSubject" name="subject">
                    <option>Compliment</option>
                    <option>Comment</option>
                    <option>Complaint</option>
                    <option>Suggestion</option>
                    <option>Bug</option>
                    <option>Issue</option>
                  </select>
                </div>
              </div>
              <textarea id="emailMessage" class="input-block-level" rows="3" placeholder="Type your comment..."></textarea>
              <input type="button" class="btn" value="Submit" />
              <button type="reset" class="btn">Reset</button>
            </fieldset>
          </form>  
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</template>

<template name="analysis">
  {{#if model}}
      <div class="span2">
      {{> tabs}}
      </div>
      <div class="span10">
      <h2>{{selected_model_name}}</h2>
      {{> alerterror}}
      {{> alertwarning}}
      {{#if model_details}}
        {{> my_model_details}}
        {{> lineplot}}
      {{else}}
        {{#if time_dep}}
          {{> lineplot}}
        {{else}}
          {{> d3graphics}}
        {{/if}}
      {{/if}}
      {{> export_data}}
      </div>
  {{/if}}
</template>

<template name="alerterror">
  {{#with error_object}}
  {{#each .}}
  <div class="alert alert-error fade in">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4 class="alert-heading">Oh snap! You got an error!</h4>
    <p>{{error_message}}</p>
    {{# if error_critical}}
    <p>This is a critical error, analysis stopped.</p>
    {{/if}}
  </div>
  {{/each}}
  {{/with}}
</template>

<template name="alertwarning">
  {{#if warning_object}}
  <div class="alert alert-warning fade in">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <p><h4 class="alert-heading">Careful now, You got {{no_of_warnings}} warnings!</h4></p>
    <p><button type="button" class="btn btn-small" data-toggle="collapse" data-target="#warnings">Show / Hide</button></p>
    <div id="warnings" class="collapse"> 
      {{#with warning_object}}
      {{#each .}}
      <p>{{warning_message}}</p>
      {{/each}}
      {{/with}}
    </div>
  </div>
  {{/if}}
</template>


<template name="tabs">
  <div class="well">
  <ul class="nav nav-list">
    {{#each tabs}}
    <li class="{{selected}} {{is_computed}}">
      <a class="{{is_computed}} {{has_errors}} {{has_warnings}}" href="#">{{name}}
        {{#if has_errors}}
        <i class='icon-exclamation-sign'></i>
        {{/if}}
        {{#if has_warnings}}
        <i class='icon-warning-sign'></i>
        {{/if}}
        {{#unless computed}}
        <i class='icon-spin icon-refresh'></i>
        {{/unless}}
      </a>
    </li>
    {{/each}}
  </ul>
  </div>
</template>

<template name="d3graphics">
  <div class="row-fluid">

  <div class="span8 result-wrapper">

    <svg id="matrix"></svg>

  </div>

  {{#if show}}

  <div class="span4">
    <form class="form-inline">
      <label>Normalization:</label>
      <div class="btn-group" data-toggle="buttons-radio">
        <button id="btn_normalize" class="btn btn-info" type="button">ON</button>
        <button id="btn_non_normalize" class="btn btn-info" type="button">OFF</button>
      </div>
    </form>
  </div>

  {{/if}}
    
  </div>
</template>

<template name="lineplot">
  <h3>{{title}}</h3>
  <form class="form-inline">
      <label>End time:</label>
      <input id="input_time" type="text" placeholder="100" class="time span1">
      <span class="simulate">
        <button id="btn_simulate" class="btn btn-primary" 
                type="button" 
                data-loading-text="Simulating...">Simulate</button> 
      </span>
  </form>
  <button id="btn_select_all" class="btn primary" type="button" title="Show all">
    <i class="icon-ok"></i>
  </button>
  <button id="btn_select_min_max" class="btn primary" type="button" title="Show top 10">
    <i class="icon-flag"></i>
  </button>
  <button id="btn_clear_selection" class="btn primary" type="button" title="Clear selection">
    <i class="icon-remove"></i>
  </button>

  <div class="row-fluid">
  <div class="span8 result-wrapper">
    
    <svg id="selectionMatrix" display="None"></svg>
    <svg id="plot"></svg>
    
  </div>
  {{#if normalization}}
  <div class="span4">
    <form class="form-inline">
        <label>Normalization:</label>
        <div class="btn-group" data-toggle="buttons-radio">
          <button id="btn_normalize" class="btn btn-info" type="button">ON</button>
          <button id="btn_non_normalize" class="btn btn-info" type="button">OFF</button>
        </div>
    </form>
  </div>
  {{/if}}
  </div>
</template>

<template name="export_data">
    <a href="#" id="custom_export">Download .csv</a>
    <div id="export_data"></div>
</template>

<template name="model_name">
  <li class="{{selected}}">
    <a href="#" style="padding-right:30px;">
      <i class="icon-remove-circle" rel="tooltip" title="delete model and all associated data"></i>
      {{name}}
    </a>
  </li>
</template>

<template name="documentation">
<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" href="#collapseOne">
        Documentation
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
      Test
      </div>
    </div>
  </div>
</div>
</template>
