<template name="my_model_details">
  <h3>Your model</h3>

  <div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" href="#collapseOne">
        Species
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>id</th>
              <th>name</th>
              <th>initial value</th>
            </tr>
          </thead>
          <tbody>
            {{#each species_details}}
            <tr>
              <td>{{this.id}}</td>
              <td>{{this.name}}</td>
              <td>{{this.init_conc}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" href="#collapseTwo">
        Parameters
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>id</th>
              <th>name</th>
              <th>value</th>
            </tr>
          </thead>
          <tbody>
            {{#each parameter_details}}
            <tr>
              <td>{{this.id}}</td>
              <td>{{this.name}}</td>
              <td>{{this.value}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" href="#collapseThree">
        Reactions
      </a>
    </div>
    <div id="collapseThree" class="accordion-body collapse">
      <div class="accordion-inner">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>id</th>
              <th>name</th>
              <th>substrates</th>
              <th>products</th>
              <th>modifiers</th>
              <th>kinetic</th>
            </tr>
          </thead>
          <tbody>
            {{#each reaction_details}}
            <tr>
              <td>{{this.id}}</td>
              <td>{{this.name}}</td>
              <td>{{this.substrate}}</td>
              <td>{{this.product}}</td>
              <td>{{this.modifier}}</td>
              <td>{{this.kinetic}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</template>